@font-face {
  font-family: "nunito";
  src:
    local("nunito"),
    url("../fonts/Nunito-VariableFont_wght.ttf") format("opentype") tech(color-COLRv1),
    url("../fonts/Nunito-Italic-VariableFont_wght.ttf") format("opentype"),
}

body {
    background-color: #f0f0f0; /* Change to your desired color */
    background-image: url('../img/cover.jpg'); /* Optional: Add a background image */
    background-size: cover; /* Optional: Cover the entire page */
    background-repeat: no-repeat; /* Optional: Prevent image repetition */
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
}

label {
  display: block;
  margin-bottom: 10px;
}


/* Soy el chico de los botones, soy la manteca sacrificial */

.button {
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: calc(100% - 0px);
}

.button1 {
  background-color: #307e9c;
  color: white;
  border: 2px solid white;
}

.button1:hover {
  background-color: #76b7d0;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: #76b7d0;
  color: white;
}

/*---*/

* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 90%;
  margin: 20px auto;
}

.wrapper > div {
  border: 1px solid rgb(87, 82, 105);
  border-radius: 5px;
  background-color: rgba(121, 119, 128, 0.7);
  padding: 1em;
  color: #C5C4C7;
 }

h1,h2,p {

text-align: justify;
font-family: "nunito";

}

ul {

text-align: justify;
font-family: "nunito";
padding: 2px;
  font-size: 13px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.logo {
  grid-column: 1 ;
  grid-row: 1;
}

.eth {

grid-column: 2 / 4;
  grid-row: 1;

}

.submenu{

grid-column: 4 / 5;
  grid-row: 1;

}

.recursos {
  grid-column: 2 / 4 ;
  grid-row: 2 ;
}

.blog {
  grid-column: 4;
  grid-row: 2 ;
}


.otros {
  grid-column: 1;
  grid-row: 2 ;
}

.amigos {
  grid-column: 1;
  grid-row: 3 ;
}

.extras {
  grid-column: 3;
  grid-row: 3;
}
.paquetes {
  grid-column: 2 ;
  grid-row: 3 / 4;
}
.condiciones {
  grid-column: 1 / 5;
  grid-row: 4;
}

.agradecimientos {

  grid-column: 4;
  grid-row: 3 / 4;
  
}

.ruc {

grid-column: 1 / 2;
  grid-row: 5;

}

.chat{
grid-column: 2 / 4;
  grid-row: 5;
  color: #7144DA;

}

.cpc {

grid-column: 4 / 5;
  grid-row: 5;

}
